.box{
    width: 100px;
    height: 50px;
    border: 1px;
    margin: 5px;
    background-color: aquamarine;
    text-align: center;
}
.Content{
   color:aqua;
   background-color: red;
}
.Content2{
    color:pink;
    background-color: yellow;
}
div{
    height: 100px;
    width: 50px;
    border: 1px solid black;
    background-color: skyblue;
}
